{% extends 'base.html' %}
{% block title %} SeempleShot - The one place to discover and hire great skills. {% endblock %}
{% block content %}
<!-- Content -->
<div class="page-content">
    <!-- contact area -->
    <div class="section-full content-inner browse-job shop-account">
        <!-- Product -->
        <div class="container">
          <div class="alert alert-success" role="alert">
            <h4 class="alert-heading">Booya!</h4>
              <p>We have sent you an email, please confirm your email address to complete registration</p>
            <hr>
            <p class="mb-0">Back to <a href="{% url 'register' %}"> registration</a> or the<a href="{% url 'login' %}"> login page</a></p>
          </div>
        </div>
    </div>
</div>
{% endblock %}
