{% extends 'base.html' %}
{% block title %} SeempleShot - The one place to discover and hire great skills. {% endblock %}
{% block content %}
<!-- Content -->
<div class="page-content">
    <!-- contact area -->
    <div class="section-full content-inner browse-job shop-account">
        <!-- Product -->
        <div class="container">
          <div class="alert alert-danger" style="text-align: center;">
            <h3 style="margin: 0; padding: 0; font-weight: normal;">Activation link is invalid! <i class="fa fa-error"></i></h3>
          </div>
        </div>
    </div>
</div>
{% endblock %}
