{% extends 'base.html' %}
{% block title %} SeempleShot - The one place to discover and hire great skills. {% endblock %}
{% block content %}
<!-- Content -->
<div class="page-content">
    <!-- contact area -->
    <div class="section-full content-inner browse-job shop-account">
        <!-- Product -->
        <div class="container">
          <div class="alert alert-success" role="alert">
            <h4 class="alert-heading">Tokosssss!</h4>
              <p>Your account has been activated successfully <i class="fa fa-success"></i></p>
            <hr>
            <p class="mb-0"><a href="{% url 'login' %}"> Login Now! </a></p>
          </div>
        </div>
    </div>
</div>
{% endblock %}
