<!-- Footer -->
{% load static %}
  <footer class="site-footer">
      <div class="footer-top">
          <div class="container">
              <div class="row">
        <div class="col-xl-5 col-lg-4 col-md-12 col-sm-12">
                      <div class="widget">
                          <h2 style="margin: 0; padding: 0;">SeempleShot</h2>
            <ul class="list-inline m-a0">
              <li><a href="javascript:void(0);" class="site-button white facebook circle "><i class="fa fa-facebook"></i></a></li>
              <!-- <li><a href="javascript:void(0);" class="site-button white google-plus circle "><i class="fa fa-google-plus"></i></a></li> -->
              <!-- <li><a href="javascript:void(0);" class="site-button white linkedin circle "><i class="fa fa-linkedin"></i></a></li> -->
              <li><a href="javascript:void(0);" class="site-button white instagram circle "><i class="fa fa-instagram"></i></a></li>
              <li><a href="javascript:void(0);" class="site-button white twitter circle "><i class="fa fa-twitter"></i></a></li>
            </ul>
                      </div>
                  </div>
        <div class="col-xl-2 col-lg-3 col-md-4 col-sm-4 col-12">
                      <div class="widget border-0">
                          <h5 class="m-b30 text-white">Company</h5>
                          <ul class="list-2 w10 list-line">
                              <li><a href="contact.html">Contact Us</a></li>
                              <!-- <li><a href="careers.html">Careers</a></li> -->
                              <li><a href="terms.html">Terms Of Services</a></li>
                              <li><a href="privacy.html">Privacy Policy</a></li>
                          </ul>
                      </div>
        </div>
        <div class="col-xl-2 col-lg-3 col-md-4 col-sm-4 col-12">
                      <div class="widget border-0">
                          <h5 class="m-b30 text-white">Join Us</h5>
                          <ul class="list-2 w10 list-line">
                              <li><a href="register.html">Become A Pro</a></li>
                          </ul>
                      </div>
        </div>
        <div class="col-xl-2 col-lg-3 col-md-4 col-sm-4 col-12">
                      <div class="widget border-0">
                          <h5 class="m-b30 text-white">Free Resources</h5>
                          <ul class="list-2 w10 list-line">
                              <li><a href="blog.html">Our Blog</a></li>
                              <li><a href="faq.html">FAQ</a></li>
                          </ul>
                      </div>
                  </div>
      </div>
          </div>
      </div>
      <!-- footer bottom part -->
      <div class="footer-bottom">
          <div class="container">
              <div class="row">
                  <div class="col-lg-12 text-center">
          <span> © Copyright 2020  by
          <a href="javascript:void(0);">SeempleShot, Inc </a> All rights reserved.</span>
        </div>
              </div>
          </div>
      </div>
  </footer>
  <button class="scroltop fa fa-arrow-up" ></button>
  <script src="{% static '/js/jquery.min.js' %}"></script>
  <script src="{% static '/plugins/bootstrap/js/popper.min.js' %}"></script>
  <script src="{% static '/plugins/bootstrap/js/bootstrap.min.js' %}"></script>
  <script src="{% static '/plugins/bootstrap-select/bootstrap-select.min.js' %}"></script>
  <script src="{% static '/plugins/bootstrap-datepicker/js/bootstrap-datetimepicker.min.js' %}"></script>
  <script src="{% static '/plugins/bootstrap-datepicker/js/locales/bootstrap-datetimepicker.fr.js' %}"></script>
  <script src="{% static '/plugins/bootstrap-touchspin/jquery.bootstrap-touchspin.js' %}"></script>
  <script src="{% static '/plugins/magnific-popup/magnific-popup.js' %}"></script>
  <script src="{% static '/plugins/counter/waypoints-min.js' %}"></script>
  <script src="{% static '/plugins/counter/counterup.min.js' %}"></script>
  <script src="{% static '/plugins/imagesloaded/imagesloaded.js' %}"></script>
  <script src="{% static '/plugins/masonry/masonry-3.1.4.js' %}"></script>
  <script src="{% static '/plugins/masonry/masonry.filter.js' %}"></script>
  <script src="{% static '/plugins/owl-carousel/owl.carousel.js' %}"></script>
  <script src="{% static '/js/custom.js' %}"></script>
  <script src="{% static '/js/dz.carousel.js' %}"></script>
  <script src="{% static '/js/dz.ajax.js' %}"></script>
  <script src="{% static '/js/date.js' %}"></script>
  <script src="{% static '/js/show_image.js' %}"></script>
  <script src="{% static '/js/image_gallery.js' %}"></script>
  <script src="{% static '/js/step.js' %}"></script>
  <script src="{% static '/js/dragimage.js' %}"></script>
  <script src="https://cdn.jsdelivr.net/picturefill/2.3.1/picturefill.min.js"></script>
  <script src="{% static '/js/lightgallery-all.min.js' %}"></script>
  <script src="{% static '/js/jquery.mousewheel.min.js' %}"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCDgCqSP7r9bnQ_oxU4uVk_eSZYSLcoGkc&libraries=places&callback=initAutocomplete" async defer></script>
  <script src="{% static '/js/autocompleteaddress.js' %}"></script>
