{% extends 'base.html' %}
{% block title %} SeempleShot - The one place to discover and hire great skills. {% endblock %}
{% block content %}
<!-- Content -->
<div class="page-content">
    <!-- contact area -->
    <div class="section-full content-inner-2 shop-account">
        <!-- Product -->
        <div class="container">
            <div class="max-w500 m-auto bg-white m-b30">
      <div class="p-a30 job-bx browse-job radius-sm seth">
        <div class="tab-content nav" style="display: block;">
          <h4 class="font-weight-700">FORGET PASSWORD ?</h4>
          <p class="font-weight-600">We will send you an email to reset your password. </p>
          <form method="post" id="forgot-password" class="tab-pane fade  col-12 p-a0">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>
        <!-- Product END -->
</div>
<!-- contact area  END -->
</div>
<!-- Content END-->
{% endblock %}
